.scorecards {
  display: flex;
  flex-wrap: wrap;

  .scorecard {
    border: 1px solid;
    cursor: pointer;
    margin: 10px;
    flex: 1 1 250px;

    &:hover {
      background-color: rgba($color: #dadada, $alpha: 0.5);
    }

    &-info {
      align-items: center;
      border-bottom: 1px solid grey;
      display: flex;
      font-size: $size-14;
      justify-content: space-between;
      padding: 5px 10px;

      &-venue {
        padding: 0 0 0 10px;
        white-space: nowrap;
      }

      &-status {
        align-items: center;
        display: flex;

        &-live {
          background-color: red;
          border-radius: 50%;
          box-shadow: 0px 0px 1px 1px #0000001a;
          height: 10px;
          margin: 0 8px 0 0;
          width: 10px;
        }

        &-value {
          font-weight: bold;
        }
      }
    }

    &-boxscore {
      &-team {
        align-items: center;
        display: flex;
        padding: 5px 10px;

        &-logo {
          flex: 0 1;
          margin: 0 10px 0 0;
          height: 45px;
          width: 45px;
        }

        &-name {
          flex: 1;
          font-size: 14px;
        }

        &-score {
          font-weight: bold;
        }
      }
    }
  }
}

.pulse {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}
