.scorecards {
  display: flex;
  flex-direction: column;
  padding: 16px 0;

  h3 {
    border-bottom: 1px solid rgba(171, 157, 157, 0.5);
  }

  &-container {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 9px);

    &-no-data {
      padding: 10px 0;
    }
  }

  .scorecard {
    border: 1px solid rgba(171, 157, 157, 0.5);
    cursor: pointer;
    flex: 1 0 300px;
    margin: 8px 10px 8px 0;
    transition: 25ms ease-in;

    &--skeleton {
      padding: 10px;

      rect,
      circle {
        animation: pulse-skeleton-animation 0.75s infinite ease-in;
      }

      .rp {
        &:nth-child(odd) {
          animation-delay: 0.25s;
        }
      }
    }

    &:hover {
      background-color: rgba($color: #dadada, $alpha: 0.5);
      border: 1px dotted black;
    }

    &-info {
      align-items: center;
      border-bottom: 1px solid grey;
      display: flex;
      font-size: $size-14;
      justify-content: space-between;
      padding: 5px 10px;

      &-venue {
        overflow: hidden;
        padding: 0 0 0 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &-status {
        align-items: center;
        display: flex;

        &-value {
          font-weight: bold;
        }
      }
    }

    &-boxscore {
      &-team {
        align-items: center;
        display: flex;
        padding: 5px 10px;

        &-logo {
          flex: 0 1;
          margin: 0 10px 0 0;
          height: 45px;
          width: 45px;
        }

        &-name {
          flex: 1;
          font-size: 14px;
        }

        &-score {
          font-weight: bold;
        }

        &-record {
          color: rgba($black, 0.8);
          font-size: $size-12;
          font-weight: 600;
          margin: 0 0 0 6px;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .scorecards {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .scorecards {
    width: 100%;
  }
}
