.scorecards {
  display: flex;
  flex-direction: column;
  padding: 16px 0;

  h3 {
    border-bottom: 1px solid rgba(171, 157, 157, 0.5);
  }

  &-container {
    display: flex;
    flex-wrap: wrap;

    &-no-data {
      padding: 10px 0;
    }
  }

  .scorecard {
    border: 1px solid rgba(171, 157, 157, 0.5);
    cursor: pointer;
    flex: 1 0 25%;
    margin: 8px 10px 8px 0;
    transition: 25ms ease-in;

    &:hover {
      background-color: rgba($color: #dadada, $alpha: 0.5);
      border: 1px dotted black;
    }

    &-info {
      align-items: center;
      border-bottom: 1px solid grey;
      display: flex;
      font-size: $size-14;
      justify-content: space-between;
      padding: 5px 10px;

      &-venue {
        padding: 0 0 0 10px;
        white-space: nowrap;
      }

      &-status {
        align-items: center;
        display: flex;

        &-live {
          border-radius: 50%;
          box-shadow: 0px 0px 1px 1px #0000001a;
          height: 10px;
          margin: 0 8px 0 0;
          width: 10px;
        }

        &-value {
          font-weight: bold;
        }
      }
    }

    &-boxscore {
      &-team {
        align-items: center;
        display: flex;
        padding: 5px 10px;

        &-logo {
          flex: 0 1;
          margin: 0 10px 0 0;
          height: 45px;
          width: 45px;
        }

        &-name {
          flex: 1;
          font-size: 14px;

          &-powerplay {
            color: rgb(255, 0, 0);
            font-style: italic;
            font-weight: bold;
            margin: 0 0 0 6px;
          }
        }

        &-score {
          font-weight: bold;
        }
      }
    }
  }
}

.pulse {
  animation: pulse-animation 2.5s infinite ease-in-out;
}

@keyframes pulse-animation {
  0% {
    background-color: red;
  }
  50% {
    background-color: darkred;
  }
  100% {
    background-color: red;
  }
}

@media only screen and (max-width: 700px) {
  .scorecards {
    width: 100%;

    .scorecard {
      flex-basis: 40%;
    }
  }
}

@media only screen and (max-width: 500px) {
  .scorecards {
    width: 100%;

    .scorecard {
      flex-basis: 100%;
    }
  }
}
