@import "./variables";

html {
  font-family: "Inter", sans-serif;
}

html,
body {
  background-color: rgb(240, 243, 246);
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

a,
.link {
  color: $link-color;
  cursor: pointer;
  font-size: $size-14;
  text-decoration: none;
  transition: all 0.15s;

  &:hover {
    color: $link-color-light;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav {
  background: $base-header-colour;
  border-bottom: 1px solid rgba(171, 157, 157, 0.5);
  color: $white;
  display: flex;
  padding: 6px 0;

  &-container {
    align-items: center;
    cursor: pointer;
    display: flex;
    padding: 0 20px;
    width: 100%;

    h1 {
      letter-spacing: 1.5px;
      transition: 100ms ease-in-out;

      &:hover {
        color: rgba($white, 0.925);
      }
    }
  }
}

.siteNav {
  align-self: center;
  display: flex;
  justify-content: center;
  list-style: none;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 4px 20px 0;

  li {
    padding: 0 6px;

    button {
      background: none;
      box-shadow: none;
      border: none;
      cursor: pointer;
      color: $nav-link-color;
      text-decoration: none;

      &:after {
        display: block;
        content: "";
        border-bottom: solid 2px $nav-link-color;
        transform: scaleX(0);
        transition: transform 175ms ease-in-out;
      }

      &:hover:after {
        transform: scaleX(1);
      }
    }
  }
}

.main-container {
  display: flex;
  flex: 1;
  width: auto;
}

#lang {
  margin-left: auto;
  height: 20px;
}

footer {
  background-color: $base-header-colour;
  color: #d0d0d0;
  display: flex;

  .footer-container {
    align-items: center;
    display: flex;
    margin: 0 auto;
    padding: 20px;
    width: $container-width;
  }
}

.powerplay {
  color: $red;
  font-style: italic;
  font-weight: bold;
  margin: 0 0 0 6px;
}

@media only screen and (min-width: $container-width) {
  .main-container {
    margin: 0 auto 40px;
    width: $container-width;
  }

  .nav {
    &-container {
      margin: 0 auto;
      width: $container-width;
    }
  }
}
