@import "./variables";

html {
  font-family: Tahoma, Geneva, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: $link-color;
  font-size: $size-14;
  text-decoration: none;
  transition: all 0.15s;

  &:hover {
    color: $link-color-light;
  }
}

.container {
  margin: 0 auto;
  max-width: 900px;
  padding: 20px 0;
}

.siteNav {
  margin: 0 10px 10px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      a {
        text-decoration: none;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .container {
    padding: 20px;
  }
}
