@import "./variables";

html {
  font-family: "Inter", sans-serif;
}

html,
body {
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

a {
  color: $link-color;
  font-size: $size-14;
  text-decoration: none;
  transition: all 0.15s;

  &:hover {
    color: $link-color-light;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav {
  background: #111;
  border-bottom: 1px solid rgba(171, 157, 157, 0.5);
  color: #fff;
  display: flex;
  padding: 6px 0;

  &-container {
    align-items: center;
    display: flex;
    margin: 0 auto;
    padding: 0 20px;
    width: 900px;

    h1 {
      letter-spacing: 1.5px;
    }
  }
}

.siteNav {
  align-self: center;
  display: flex;
  justify-content: center;
  list-style: none;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0 20px;

  li {
    padding: 0 6px;

    a {
      text-decoration: none;
    }
  }
}

.main-container {
  display: flex;
  margin: 0 auto 40px;
  width: 900px;
}

#lang {
  margin-left: auto;
  height: 20px;
}

footer {
  background-color: #111;
  color: #d0d0d0;
  display: flex;

  .footer-container {
    align-items: center;
    display: flex;
    margin: 0 auto;
    padding: 20px;
    width: 900px;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    width: auto;
  }

  .main-container {
    padding: 0 20px;
  }
}
