.video-dialog {
  display: flex;
  background-color: rgba($black, 0.4);
  left: 0;
  height: 100%;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  &-content {
    align-self: center;
    border: 1px solid #888;
    background-color: #fefefe;
    display: flex;
    margin: auto;
    padding: 6px;
    width: 1100px;
    position: relative;

    &-close {
      align-items: center;
      background: black;
      border-radius: 50%;
      box-shadow: 1px 1px 2px 0 #5d5d5d;
      color: white;
      cursor: pointer;
      display: flex;
      font-size: 1.125rem;
      height: 20px;
      justify-content: center;
      right: -12px;
      position: absolute;
      padding: 4px;
      top: -12px;
      transition: 100ms;
      width: 20px;
      z-index: 5;

      &:hover {
        transform: scale3d(1.15, 1.15, 1.15);
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .video-dialog {
    &-content {
      width: 80%;
    }
  }
}
