.standings {
  &-conference {
    &-division {
      display: table;
      border-collapse: collapse;

      &-header {
        display: table-row;

        &-title {
          display: table-cell;
        }
      }
    }
  }
}
