.schedule {
  display: flex;
  flex-direction: column;
  margin: 10px auto 40px;
  width: 900px;

  h2 {
    padding: 0;
  }

  &-datepicker-container {
    display: flex;
    justify-content: space-between;

    .Datepicker {
      align-items: center;
      display: flex;
    }
  }
}

@media only screen and (max-width: 900px) {
  .schedule {
    width: auto;
  }
}
