.game {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(250, 250, 250, 0.5);
  box-shadow: 1px 1px 2px 0 #ccc;
  margin: 10px 0 0;

  &-header {
    display: flex;
    flex-direction: column;

    &-score {
      display: flex;

      &-team {
        border-top: 1px solid rgba(204, 204, 204, 0.5);
        display: flex;
        flex: 1;
        min-height: 80px;

        &:last-child {
          border-bottom: 1px solid rgba(204, 204, 204, 0.5);
        }

        &-logo {
          align-items: center;
          background-size: auto 200%;
          background-repeat: no-repeat;
          background-position: right;
          display: flex;
          padding: 0 20px 0 40px;
          width: 45px;
        }

        &-info {
          display: flex;
          flex: 1 1 auto;
          flex-direction: column;
          justify-content: center;

          &-teamName {
            font-weight: bold;
          }
        }

        &-score {
          align-items: center;
          font-size: 2em;
          font-weight: 100;
          display: flex;
          padding: 0 20px;

          &-winner {
            font-weight: bold;
          }
        }

        &-home {
          .game-header-score-team-info {
            text-align: right;
          }
        }
      }
    }

    &-location {
      font-weight: bold;
      padding: 10px 0;
      text-align: center;
    }

    &-status {
      font-size: $size-24;
      font-weight: bold;
      padding: 20px 0;
      text-align: center;
    }
  }

  &-linescore {
    display: table;
    border-collapse: separate;
    margin: 20px 0 0;
    width: 100%;

    &-header {
      display: table-row;
    }

    &-periods {
      display: table-row;

      &-period {
        border: 1px solid black;
        display: table-cell;
        padding: 10px;
        text-align: center;

        &-title {
          font-weight: bold;
        }

        &-team {
          font-weight: bold;
          text-align: left;
        }
      }
    }
  }

  &-summary {
    border: 1px solid;
    padding: 5px 0 0 15px;

    &-scoring {
      &-period {
        padding: 10px 0;
      }

      &-player {
        padding: 0 10px 0 0;

        &-row {
          display: flex;
          justify-content: space-between;

          &-players {
            display: flex;
            flex-direction: row;
            flex: 1;
            list-style: none;
            padding: 0;

            > * {
              align-items: center;
              display: flex;
              padding: 0 10px 0 0;
            }

            &-time {
              font-weight: bold;
            }

            &-data {
              align-items: initial;
              flex-direction: column;
              padding: 3px 0 0 8px;

              &-scorer {
                align-items: center;
                display: flex;
                font-weight: bold;
                font-size: $size-16;
              }

              &-assist {
                font-style: italic;
              }
            }
          }

          &-goalStatus {
            align-items: center;
            display: flex;
            flex-basis: 10%;
            justify-content: center;

            &-teams {
              padding: 0 10px;
            }
          }
        }
      }
    }

    &-penalties {
      &-period {
        padding: 10px 0;

        &-data {
          display: flex;
          flex-direction: row;
          flex: 1;
          list-style: none;
          padding: 0;

          > * {
            align-items: center;
            display: flex;
            padding: 0 10px 0 0;
          }

          &-time {
            font-weight: bold;
          }

          &-content {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .game {
    &-header {
      &-score {
        flex-direction: column;

        &-team {
          &-logo {
            order: 1;
          }

          &-info {
            order: 2;
          }

          &-score {
            order: 3;
          }

          &-home {
            .game-header-score-team-info {
              text-align: left;
            }
          }
        }
      }
    }
  }
}
