.game {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: none;
  background-color: $white;
  box-shadow: 1px 1px 2px 0 #ccc;
  display: flex;
  flex-direction: column;

  &-header {
    display: flex;
    flex-direction: column;

    &-score {
      display: flex;
      flex-direction: column;

      &-team {
        border-bottom: 1px solid rgba(204, 204, 204, 0.5);
        display: flex;
        flex: 1;
        min-height: 80px;

        &-logo {
          align-items: center;
          background-size: auto 200%;
          background-repeat: no-repeat;
          background-position: right;
          display: flex;
          padding: 0 20px 0 40px;
          width: 45px;
          order: 1;
        }

        &-info {
          display: flex;
          flex: 0 1 auto;
          flex-direction: column;
          justify-content: center;
          order: 2;

          &-teamName {
            font-weight: bold;
          }
        }

        &-pp {
          display: flex;
          flex: 1 1 auto;
          flex-direction: column;
          justify-content: center;
          order: 3;
          padding: 0 0 0 20px;
        }

        &-score {
          align-items: center;
          font-size: 2em;
          font-weight: 300;
          display: flex;
          padding: 0 20px;
          order: 4;

          &-winner {
            font-weight: bold;
          }
        }
      }
    }

    &-location {
      font-weight: bold;
      padding: 10px 18px 10px 10px;
      text-align: center;
      display: flex;
      justify-content: space-between;
    }

    &-status {
      font-size: $size-24;
      font-weight: bold;
      padding: 20px 0;
      text-align: center;
    }
  }

  &-linescore {
    display: table;
    border-collapse: separate;
    margin: 20px 0 0;
    width: 100%;

    &-header {
      display: table-row;
    }

    &-periods {
      display: table-row;

      &-period {
        border: 1px solid $base-header-colour;
        display: table-cell;
        padding: 10px;
        text-align: center;

        &:first-child {
          border-left: none;
        }

        &:last-child {
          border-right: none;
        }

        &-title {
          font-weight: bold;
        }

        &-team {
          font-weight: bold;
          text-align: left;
        }
      }
    }
  }

  &-summary {
    padding: 12px 10px 0;

    &-goalies {
      border: 1px solid $border-colour;
      margin: 10px 0;
      padding: 10px;

      h3 {
        margin: 0 0 10px;
      }
    }

    &-period-title {
      background: $base-header-colour;
      color: $white;
      padding: 4px 0 4px 8px;
    }

    &-scoring {
      &-period {
        padding: 10px 0;

        &-data {
          border-bottom: 1px solid rgba($base-header-colour, 0.3);

          &:last-child {
            border: none;
          }
        }

        &-container {
          &:nth-child(even) {
            background-color: red;
          }
        }
      }

      &-player {
        padding: 0 10px 0 0;

        &-row {
          display: flex;
          justify-content: space-between;

          &-players {
            display: flex;
            flex-direction: row;
            flex: 1;
            list-style: none;
            padding: 0;

            > * {
              align-items: center;
              display: flex;
              padding: 0 10px 0 8px;
            }

            &-time {
              font-weight: bold;
            }

            &-data {
              align-items: initial;
              flex-direction: column;
              padding: 3px 0 0 8px;
              justify-content: center;

              &-scorer {
                align-items: center;
                display: flex;
                font-weight: bold;
                font-size: $size-16;
              }

              &-assist {
                font-style: italic;
              }
            }
          }

          &-goalStatus {
            align-items: center;
            display: flex;
            flex-basis: 10%;
            justify-content: center;

            &-teams {
              padding: 0 10px;
            }
          }

          &-goalVideo {
            align-items: center;
            justify-content: center;
            display: flex;

            button {
              align-items: center;
              background: #306186;
              border: 0;
              border-radius: 50%;
              color: $white;
              cursor: pointer;
              display: flex;
              justify-content: center;
              padding: 0 0 0 2px;
              height: 26px;
              transition: 100ms;
              width: 26px;

              &:hover {
                transform: scale3d(1.15, 1.15, 1.15);
              }
            }
          }
        }
      }
    }

    &-penalties {
      &-period {
        padding: 10px 0;

        &-data {
          display: flex;
          flex-direction: row;
          flex: 1;
          list-style: none;
          padding: 0 0 0 8px;

          > * {
            align-items: center;
            display: flex;
            padding: 0 10px 0 0;
          }

          &-time {
            font-weight: bold;
          }

          &-content {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
        }
      }
    }

    &-team-statistics {
      &-bar {
        margin: 0 0 10px;
        width: 100%;

        &:last-child {
          margin: 0;
        }

        &-stat {
          &-name {
            display: flex;
            justify-content: space-between;
          }

          &-label {
            font-weight: bold;
          }

          &-container {
            display: flex;
          }

          &-info {
            background-color: #5c5c5c;
            display: inline-block;
            height: 4px;
            margin: 5px;
            transition: 350ms ease-in-out;

            &--away {
              background-color: #d74a1f;
              border-radius: 10px 0 0 10px;
              margin-left: 0;
            }

            &--home {
              background-color: #0078fd;
              border-radius: 0 10px 10px 0;
              margin-right: 0;
            }
          }
        }
      }
    }

    &-player-statistics {
      &-team {
        margin: 0 0 18px;
      }

      &-header {
        align-items: center;
        display: flex;

        h3 {
          margin: 0 0 0 4px;
        }
      }

      &-body {
        &-container {
          display: flex;
          flex-flow: column nowrap;
          font-size: 0.8rem;
          margin: 0 0 12px;
          line-height: 1.5;
          border-bottom: 1px solid #d0d0d0;
          flex: 1 1 auto;

          &:last-child {
            margin: 0;
          }

          &-header {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;

            font-weight: 700;
            background-color: #f2f2f2;
          }

          &-data {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;

            &:nth-of-type(odd) {
              background-color: rgba($table-row-colour, 0.7);
            }
          }

          &-element {
            border-bottom: 1px solid #d0d0d0;
            display: flex;
            flex-flow: row nowrap;
            flex-grow: 1;
            flex-basis: 5%;
            min-width: 0px;
            justify-content: flex-end;
            padding: 0.5em;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-break: break-word;

            &-position {
              align-self: center;
              color: rgba($base-header-colour, 0.7);
              display: flex;
              font-size: $size-10;
              margin: 0 0 0 4px;
            }

            &:first-child {
              justify-content: flex-start;
              padding-left: 0.8em;
            }

            &:last-child {
              padding-right: 0.8em;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $container-width) {
  .game {
    margin: 0 20px;
    padding: 0;
    width: auto;
  }
}
