.player {
  flex-direction: column;

  &-header {
    display: flex;
    margin: 10px 0 20px;

    &-image {
    }

    &-details {
      margin: 0 0 0 14px;
    }
  }

  &-stats {
    table {
      border-collapse: collapse;
      width: 100%;

      thead {
        tr {
          background-color: #dadada;

          th {
            cursor: help;
            padding: 5px;
          }
        }
      }

      tbody {
        tr {
          &:nth-child(even) {
            background-color: #f7f7f7;
          }

          td {
            text-align: center;
            padding: 5px;
          }
        }
      }
    }
  }
}
